.container {
  padding: var(--spacing-xl) 0;
  background: var(--background);
  border: 3px dashed var(--border);
  margin: var(--spacing-md);
  border-radius: var(--radius);
  text-align: center;
}

.form {
  max-width: 600px;
  margin: 0 auto;
}

.message {
  margin-top: var(--spacing-sm);
  text-align: center;
  font-weight: 900;
  font-size: 0.8rem;
}

.success {
  color: var(--primary);
}

.error {
  color: #E74C3C;
}
