.header {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 100;
}

.logo {
  width: 120px;
  height: auto;
  display: block;
}

@media (max-width: 768px) {
  .logo {
    width: 80px;
  }
}
