.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: var(--spacing-xl) var(--spacing-md);
  background: rgb(168, 188, 200);
  border: 3px dashed var(--border);
  margin: calc(var(--spacing-md) + 70px) var(--spacing-md) var(--spacing-md);
  border-radius: var(--radius);
}

.title {
  margin-bottom: var(--spacing-md);
  max-width: 800px;
  color: var(--primary);
  text-shadow: 3px 3px 0 var(--border);
  padding: 0 var(--spacing-md);
}

.description {
  font-size: 1rem;
  color: var(--foreground);
  margin-bottom: var(--spacing-lg);
  max-width: 600px;
  line-height: 1.8;
}

.cta {
  font-size: 1rem;
  padding: 1rem 2rem;
}
