.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.contentWrapper {
  flex-grow: 1;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.title {
  margin-bottom: 1rem;
}

.effectiveDate {
  margin-bottom: 1.5rem;
  font-weight: bold;
}

.intro {
  margin-bottom: 2rem;
}

.section {
  margin-bottom: 2rem;
}

.sectionTitle {
  margin-bottom: 0.5rem;
}

.subsection {
  margin-left: 1rem;
  margin-top: 1rem;
}

.subsectionTitle {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.list {
  list-style-type: disc;
  padding-left: 1.5rem;
  margin-bottom: 1rem;
}

.list li {
  margin-bottom: 0.5rem;
}

.footerNote {
  font-style: italic;
  margin-top: 0.5rem;
}
